
// breakpoint sass
@import '../../node_modules/breakpoint-sass/stylesheets/_breakpoint.scss';

$bg-color: #F3F3F4;
$theme-color: #0C273A;

$device-xs-up: 320px;
$device-xs-only: 320px 768px;
$device-md-up: 768px;
$device-md-only: 768px 1200px;
$device-xl-up: 1200px;

@mixin scale($factor){
	-webkit-transform: scale($factor);
    -moz-transform: scale($factor);
    -ms-transform: scale($factor);
    -o-transform: scale($factor);
    transform: scale($factor);
}

@mixin transform-origin{
	-webkit-transform-origin: 0 0;
	-moz-transform-origin: 0 0;
	-ms-transform-origin: 0 0;
	-o-transform-origin: 0 0;
	transform-origin: 0 0;
}

@mixin adjust-padding {
	@include breakpoint($device-xl-up){ padding-left: 150px; }
	@include breakpoint($device-md-only){ padding-left: 100px; }
}

// adjustment
html,body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
	background-color: $bg-color;

}

// components style

.main-logo{
	@include breakpoint($device-xs-only){
		float: right;
		margin-left: 0px;
		margin-top: 10px;
		margin-right: 10px;	
		@include scale(0.6);
	}
	@include breakpoint($device-md-up){
		float: left;
		margin-left: 50px;
		margin-top: 50px;
	}
}



.header {
	@include adjust-padding;
	@include breakpoint($device-md-only){ margin-bottom: 50px;}
	@include breakpoint($device-xl-up){	height: 100vh; }
	.components{
		@include breakpoint($device-xs-only){
			height: 50px;
		}
		@include breakpoint($device-md-only){
			margin-left: 180px;
			height: 200px;
		}
		@include breakpoint($device-xl-up){
			height: 320px;
		}

		.light{
			display: inline-block;
			@include breakpoint($device-xs-only){
				width: 50px;
				@include transform-origin;	
				@include scale(0.36);
			}
			@include breakpoint($device-md-only){
				display: none;
			}
			@include breakpoint($device-xl-up){
				width: 150px;
			}
		}
		.pipe{
			display: inline-block;
			width: 100px;

			@include transform-origin;		
			@include breakpoint($device-xs-only){
				@include scale(0.3);
			}
			@include breakpoint($device-md-only){
				@include scale(0.62);
			}
		}
	}		
	.info {
		display: inline-block;
		color: $theme-color;

		@include transform-origin;
		@include breakpoint($device-xs-only){
			text-align: center;
			width: 100%;
		}
		@include breakpoint($device-md-up){
			width: 30%;
		}
		.year {
			font-weight: 200;
			font-size: 28px;
		}
		.topic {
			@include breakpoint($device-xs-up){
				@include scale(0.6);
			}
			@include breakpoint($device-md-only){
				margin: 10px 0px 10px -120px;
				@include scale(0.7);
			}
			@include breakpoint($device-xl-up){
				margin: 10px 0px 10px -180px;
			}
		}
		.topic-english {
			font-weight: 200;
			letter-spacing: 3px;
			font-size: 32px;
		}
		.date {
			font-weight: 200;
			font-size: 32px;
		}
		.place {
			font-size: 28px;
		}
	}
	.sketch {
		display: inline-block;
		@include transform-origin;

		@include breakpoint($device-xs-only){
			padding: 20px;
			img{
				max-width: 100%;
			}
		}
		@include breakpoint($device-md-up){
			vertical-align: 100px;
			margin-top: -150px;
			margin-left: 150px;
			width: 200px;
			height: 300px;
			@include scale(0.56);

		}
		@include breakpoint($device-xl-up){
			margin-left: 80px;
			@include scale(1);
		}
	}
}

.topic-sketch {
	
	@include breakpoint($device-xs-only){
		width: 289px;
		height: 186px;
		margin: auto;
		background: url('../images/mobile/topic-title.png');
	}
	@include breakpoint($device-md-only){
		position: relative;
		display: inline-block;
		width: 142px;
		height: 333px;
		background: url('../images/tablet/topic-sketch.png');
	}
	@include breakpoint($device-xl-up){
		position: relative;
		display: inline-block;
		width: 419px;
		height: 556px;
		background: url('../images/desktop/topic-sketch.png');
	}
}

.topic{
	@include adjust-padding;
	@include breakpoint($device-md-only){
		margin-top: -300px;
	}
	@include breakpoint($device-xl-up){
		margin-top: -300px;
	}
	.topic-english-1{
		color: $theme-color;
		font-size: 45px;
		font-weight: 200;
		letter-spacing: 10px;
		text-align: center;
	}
	.robot {
		display: inline-block;
		@include transform-origin;

		@include breakpoint($device-xs-only){
			width: 58px;
			@include scale(0.52);
		}
		@include breakpoint($device-md-only){
			width: 76px;
			height: 200px;
			margin-left: -20px;
			@include scale(0.69);
		}
		@include breakpoint($device-xl-up){
			width: 110px;
			height: 307px;
		}
	}
	.intro{
		@include breakpoint($device-xs-only){ 
			padding: 0px 50px 0px 50px;
			margin-top: -120px;
		}
		@include breakpoint($device-md-only){ 
			display: inline-block;
			width: 50%; 
			padding: 0px 50px 0px 50px;
			vertical-align: 70px;
		}
		@include breakpoint($device-xl-up){ 
			display: inline-block;
			width: 40%; 
			padding: 0px 30px 0px 30px;
			vertical-align: -50px;
		}
		.topic-english-2{
			color: $theme-color;
			font-size: 45px;
			font-weight: 200;
			letter-spacing: 10px;
		}
		.intro-content{
			color: $theme-color;
			@include breakpoint($device-xs-only){
				width: 100%;
			}
			@include breakpoint($device-md-up){
				width: 300px;
			}

		}
		.medium-articles {
			background-color: $theme-color;
			color: white;
			padding: 10px;
		}
	}	

	.title {
		@include breakpoint($device-md-only){
			width: 137px;
			margin-left: 60px;
			@include scale(0.68);
		}
		@include breakpoint($device-xl-up){
			width: 202px;
			margin: auto;
		}
	}
	.products {
		@include breakpoint($device-xs-only){
			vertical-align: 100px;
			width: 270px;
			@include scale(0.9);
			@include transform-origin;
		}
		@include breakpoint($device-md-only){
			vertical-align: 100px;
			width: 186px;
			@include scale(0.6);
		}
		@include breakpoint($device-xl-up){
			width: 304px;
			margin: auto;
		}
	}
	.topic-widgets-1 {
		@include breakpoint($device-md-up){
			display: inline-block;
			vertical-align: 80px;
		}
		@include breakpoint($device-xl-up){
			width: 20%;
		}
	}
	.topic-widgets-1-1 {
		@include breakpoint($device-xs-only){
			width: 350px;
			margin: auto;
		}
	}
	.topic-widgets-2 {
		@include breakpoint($device-md-only){
			vertical-align: 120px;
			width: 30%;
		}
		@include breakpoint($device-xl-up){
			vertical-align: 80px;
			width: 30%;
		}
	}
}

.projects {
	.title{
		margin: auto;
		background-size: cover;

		@include breakpoint($device-xs-only){
			background: url('../images/mobile/project-title.png');
			width: 279px;
			height: 163px;
			background-size: 279px 163px;
		}
		@include breakpoint($device-md-only){
			background: url('../images/tablet/project-title.png');
			width: 329px;
			height: 154px;
			background-size: 329px 154px;

		}
		@include breakpoint($device-xl-up){
			background: url('../images/desktop/project-title.png');
			width: 620px;
			height: 315px;
			background-size: 620px 315px;
		}
	}
	.list {
		.preview {
		}
	}
}

.souvenir {
	.title{
		margin: auto;
		@include breakpoint($device-xs-only){
			background: url('../images/mobile/product-title.png');
			width: 245px;
			height: 34px;
			background-size: 245px 34px;
		}
		@include breakpoint($device-md-only){
			background: url('../images/tablet/product-title.png');
			width: 327px;
			height: 44px;
			background-size: 327px 44px;
		}
		@include breakpoint($device-xl-up){
			background: url('../images/desktop/product-title.png');
			width: 523px;
			height: 66px;
			background-size: 523px 66px;
		}
	}
	.list{
		.item{
			.preview {

			}
			.product-intro {
				line-height: 40px;
				vertical-laign: center;
			}
		}		
	}
}

.support {
	.title {
		@include breakpoint($device-xs-only){
			background: url('../images/mobile/support-title.png');
			width: 164px;
			height: 55px;
			background-size: 164px 55px;
		}
		@include breakpoint($device-md-only){
			background: url('../images/tablet/support-title.png');
			width: 181px;
			height: 68px;
			background-size: 181px 68px;
		}
		@include breakpoint($device-xl-up){
			background: url('../images/desktop/support-title.png');
			width: 282px;
			height: 109px;
			background-size: 282px 109px;
		}
	}
	.diamond {
		background: url('../images/common/support-a.png');
		background-size: cover;
		width: 336px;
		height: 50px;
		@include transform-origin;
		@include breakpoint($device-xs-only){
			@include scale(0.4);
		}
		@include breakpoint($device-md-up){
			@include scale(0.5);
		}

	}
	.platinum {
		background: url('../images/common/support-b.png');
		background-size: cover;
		width: 336px;
		height: 50px;
		@include transform-origin;
		@include breakpoint($device-xs-only){
			@include scale(0.4);
		}
		@include breakpoint($device-md-up){
			@include scale(0.5);
		}
	}
	.gold {
		background: url('../images/common/support-c.png');
		background-size: cover;
		width: 274px;
		height: 50px;
		@include transform-origin;
		@include breakpoint($device-xs-only){
			@include scale(0.4);
		}
		@include breakpoint($device-md-up){
			@include scale(0.5);
		}
	}
}

footer {
	.sketch{
		text-align: center;
		@include breakpoint($device-md-up){
			background: url('../images/common/footer-sketch.png');
			background-size: 694px 301px;
			width: 694px;
			height: 301px;
		}
	}
	.fb-fan-page{
		margin-top: 50px;
	}
}
