
// breakpoint sass
@import '../../node_modules/breakpoint-sass/stylesheets/_breakpoint.scss';
@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
@import url('https://fonts.googleapis.com/css?family=Poiret+One');

$bg-color: #F3F3F4;
$theme-color: #0C273A;
$orange-color: #E37224;

$device-xs-up: 320px;
$device-xs-only: 320px 767px;
$device-md-up: 768px;
$device-md-only: 768px 1439px;
$device-xl-up: 1440px;

$font-ai: 'Poiret One', cursive;
$font-noto: 'Noto Sans TC', sans-serif;
$font-mix: 'Poiret One', cursive, 'Noto Sans TC', sans-serif;
$font-context:  -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

@mixin scale($factor) {
	-webkit-transform: scale($factor);
    -moz-transform: scale($factor);
    -ms-transform: scale($factor);
    -o-transform: scale($factor);
    transform: scale($factor);
}

@mixin transform-origin{
	-webkit-transform-origin: 0 0;
	-moz-transform-origin: 0 0;
	-ms-transform-origin: 0 0;
	-o-transform-origin: 0 0;
	transform-origin: 0 0;
}

@mixin responsive-image($image, $xsw, $xsh, $mdw, $mdh, $xlw, $xlh) {
	@include breakpoint($device-xs-only) {
		@if $xsw or $xsw {
			width: $xsw;
			height: $xsh;
			background-size: $xsw $xsh;
		}
		@else {
			display: none;
		}

	}
	@include breakpoint($device-md-only) {
		@if $mdw or $mdw {
			width: $mdw;
			height: $mdh;
			background-size: $mdw $mdh;
		}
		@else {
			display: none;
		}
	}
	@include breakpoint($device-xl-up) {
		@if $xlw or $xlw {
			width: $xlw;
			height: $xlh;
			background-size: $xlw $xlh;
		}
		@else {
			display: none;
		}
	}
}

@mixin common-image($image, $xsw, $xsh, $mdw, $mdh, $xlw, $xlh) {
	background: url('../images/common/' + $image + '.png');
	@include responsive-image($image, $xsw, $xsh, $mdw, $mdh, $xlw, $xlh);
}

@mixin seperate-image($image, $xsw, $xsh, $mdw, $mdh, $xlw, $xlh) {
	@include breakpoint($device-xs-only) {
		background: url('../images/mobile/' + $image + '.png');
	}
	@include breakpoint($device-md-only) {
		background: url('../images/tablet/' + $image + '.png');
	}
	@include breakpoint($device-xl-up) {
		background: url('../images/desktop/' + $image + '.png');
	}
	@include responsive-image($image, $xsw, $xsh, $mdw, $mdh, $xlw, $xlh);
}

* {
    -webkit-overflow-scrolling: touch;
}

// adjustment
html, body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
	background-color: $bg-color;
	font-family: $font-noto;
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	letter-spacing: 1.33px;
	@include breakpoint($device-xl-up) {
		font-size: 16px;
		line-height: 24px;
		letter-spacing: 2.66px;
	} 
}

.container {
	max-width: 310px;
    @include breakpoint($device-md-up) {
		max-width: 688px;
    }
    @include breakpoint($device-xl-up) {
		max-width: 1040px;
    }
}

// components style

.main-logo{
	@include breakpoint($device-xs-only) {
		float: right;
		margin-left: 0px;
		margin-top: 10px;
		margin-right: 10px;	
		@include scale(0.6);
	}
	@include breakpoint($device-md-up) {
		float: left;
		margin-left: 50px;
		margin-top: 50px;
	}
}

a {
	color: $orange-color;
	&:hover {
		color: lighten($orange-color, 10);
		text-decoration: none;
	}
}

.header {
	position: relative;
	height: 600px;
	@include breakpoint($device-md-up) { height: 648px; }
	@include breakpoint($device-xl-up) { height: 848px; }
	.components {
		.light {
			position: absolute;
			top: 0;
			left: 20px;
			@include breakpoint($device-md-up) {
				top: -10px;
				left: 120px;
			}
			@include breakpoint($device-xl-up) {
				top: 0;
				left: 99px;
			}
			@include common-image('header-light', 29px, 109px, 48px, 184px, 81px, 310px);
		}
		.pipe {
			position: absolute;
			top: 0;
			left: 74px;
			@include breakpoint($device-md-up) {
				top: 0;
				left: 246px;
			}
			@include breakpoint($device-xl-up) {
				top: 0;
				left: 206px;
			}
			@include common-image('header-pipe', 176px, 85px, 369px, 177px, 591px, 284px);
		}
	}		
	.info {
		position: absolute;
		top: 122px;
		left: 5px;	
		@include breakpoint($device-md-up) {
			top: 276px;
			left: 79px;	
		}
		@include breakpoint($device-xl-up) {
			top: 379px;
			left: 70px;
		}
		color: $theme-color;
		@include breakpoint($device-xs-only) {
			text-align: center;
			width: 300px;
			margin: auto;
		}
		.year {
			font-family: $font-ai;
			line-height: 28px;
			letter-spacing: 1.33;
			font-size: 24px;
			margin-bottom: 20px;
			@include breakpoint($device-xs-only) {
				font-size: 16px;
				line-height: 18px;
				letter-spacing: 0.9;
			}
		}
		.topic {
			@include breakpoint($device-xs-only) {
				margin: 0 auto;
			}
			@include common-image('nctuartfest', 190px, 37px, 222px, 44px, 317px, 63px);
		}
		.topic-english {
			margin-top: 6px;
			font-family: $font-ai;
			font-size: 20px;
			letter-spacing: 1.11px;
			line-height: 23px;
			margin-bottom: 30px;
			@include breakpoint($device-md-up) {
				font-size: 24px;
				letter-spacing: 1.33px;
				line-height: 28px;
			}
			@include breakpoint($device-xl-up) {
				font-size: 36px;
				letter-spacing: 2px;
				line-height: 42px;
			}
		}
		.date {
			font-family: $font-ai;
			font-size: 16px;
			letter-spacing: 0.8px;
			line-height: 18px;
			@include breakpoint($device-md-up) {
				font-size: 20px;
				letter-spacing: 1.11px;
				line-height: 1.16;
			}
			@include breakpoint($device-xl-up) {
				font-size: 24px;
				letter-spacing: 1.33px;
			}
		}
		.date-line {
		    display: inline-block;
		    border-bottom: 1px solid #0C273A;
		    height: 1px;
		    width: 30px;
		    @include breakpoint($device-md-up) {
		    	width: 40px;
			}
			@include breakpoint($device-xl-up) {
				width: 49px;
			}
		    margin: 8px 5px;
		}
		.place {
			font-weight: 300;
			font-family: $font-noto;
			font-size: 16px;
			letter-spacing: 5px;
			line-height: 24px;
			@include breakpoint($device-md-up) {
				font-size: 20px;
				letter-spacing: 6.25px;
				line-height: 1.16;
			}
			@include breakpoint($device-xl-up) {
				font-size: 24px;
				letter-spacing: 7.5px;
			}
		}
	}
	.sketch {
		position: absolute;
		top: 330px;
			left: 19px;
		@include breakpoint($device-md-up) {
			top: 230px;
			left: 363px;
		}
		@include breakpoint($device-xl-up) {
			top: 200px;
			left: 489px;
		}
		@include common-image('header-sketch', 267px, 261px, 298px, 291px, 533px, 546px);
	}
}



.topic{
	position: relative;
	height: 800px;
	@include breakpoint($device-md-up) {
		height: 435px;
	}
	@include breakpoint($device-xl-up) {
		height: 720px;
	}
	.topic-sketch {
		@include breakpoint($device-xs-only) {
		}
		@include breakpoint($device-md-up) {
			position: absolute;
			left: -53px;
			top: 0;
		}
		@include breakpoint($device-xl-up) {
			left: -216px;
			top: 0px;
		}
		@include seperate-image('topic-sketch', 289px, 186px, 142px, 333px, 419px, 556px);
	}
	.topic-english-1{
		color: $theme-color;
		font-weight: 200;
		letter-spacing: 10px;
	}
	.robot {
		position: absolute;
		@include breakpoint($device-xl-up) {
			top: 331px;
			left: 52px;
		}
		@include common-image('topic-robot', 58px, 162px, 76px, 212px, 110px, 307px);
	}
	.intro{
		position: relative;
    	z-index: 10;
		@include breakpoint($device-xs-only) {
			margin-left: 52px;
    		margin-top: 40px;
    	}
		@include breakpoint($device-md-up) { 
			position: absolute;
			width: 280px; 
			left: 388px;
			top: 12px;
		}
		@include breakpoint($device-xl-up) { 
			width: 424px;
			position: absolute;
			top: 173px;
			left: 286px;
		}
		.topic-english-2{
			font-family: $font-ai;
			font-weight: 100;
			margin-bottom: 50px;
			color: $theme-color;
			font-size: 30px;
			letter-spacing: 5px;
			line-height: 35px;
			@include breakpoint($device-md-up) { 
				line-height: 49px;
				font-size: 42px;
				letter-spacing: 6px;
				margin-left: -20px;
			}
			@include breakpoint($device-xl-up) { 
				line-height: 70px;
				font-size: 60px;
				letter-spacing: 11px;
				margin-left: -27px;
			}
			
		}
		.intro-content{
			@include breakpoint($device-xs-only) {
				margin-top: 260px;
				width: 260px;
    			margin-left: -35px;
			}
			font-size: 14px;
			line-height: 20px;
			letter-spacing: 1.67px;
			@include breakpoint($device-md-up) { 
				font-size: 16px;
				line-height: 24px;
				letter-spacing: 1.33px;
			}
			@include breakpoint($device-xl-up) { 
				font-size: 20px;
				line-height: 36px;
				letter-spacing: 1.67px;	
			}
			color: $theme-color;
			font-family: $font-noto;
			font-weight: 400;
		}
		.medium-articles {
			display: inline-block;
			background: $theme-color;
			color: white;
		    padding: 6px 18px;
		    border-radius: 2px;
		    font-size: 16px;
		    margin-top: 12px;
			@include breakpoint($device-xs-only) {
				font-size: 14px;
				letter-spacing: 2px;
				background: transparent;
				color: $orange-color;
				border-bottom: 1px solid $orange-color;
				padding: 0;
			    margin-top: 24px;
    			margin-left: 20px;
			}
			&:hover {
				text-decoration: none;
			}
		}
	}

	.robot {
		position: absolute;
		z-index: 9;
		top: 366px;
		left: 23px;
		@include breakpoint($device-md-up) {
			top: 151px;
			left: 232px;
		}
		@include breakpoint($device-xl-up) {
			top: 331px;
			left: 52px;
		}
	}

	.title {
		@include common-image('topic-title', 0px, 0px, 137px, 32px, 202px, 47px);
		position: absolute;
		@include breakpoint($device-md-up) {
			top: 37px;
			left: 164px;
		}
		@include breakpoint($device-xl-up) {
			top: 111px;
			left: 804px;
		}
	}

	.products {
		position: absolute;
		z-index: 8;
		@include common-image('topic-products', 270px, 270px, 186px, 186px, 344px, 344px);
		top: 248px;
		left: 65px;
		@include breakpoint($device-md-up) {
			top: 113px;
			left: 71px;
		}
		@include breakpoint($device-xl-up) {
			top: 214px;
			left: 751px;
		}
		@include breakpoint($device-xs-only) {
			@include seperate-image('topic-products', 270px, 270px, 186px, 186px, 344px, 344px);
		}
	}
}

.projects {
	position: relative;
	.title{
		@include seperate-image('project-title', 279px, 163px, 329px, 154px, 620px, 315px);

	    margin-bottom: 5rem;
    	margin-top: 1rem;
	}
	.list {
		.preview {
		}
	}
	.item {
		margin-bottom: 30px;
	}
	.project-desc {
		font-size: 14px;
		letter-spacing: 1.9px;
		line-height: 20px;
		@include breakpoint($device-xl-up) {
			font-size: 16px;
			letter-spacing: 2.22px;
			line-height: 24px;
		}
	}
	.project-title {

		font-weight: 300;
		font-size: 20px;
		letter-spacing: 2.78px;
		line-height: 28px;
		margin-top: 12px;
		margin-bottom: 12px;	
		@include breakpoint($device-md-up) {
			margin-top: 3px;
		}
		@include breakpoint($device-xl-up) {
			font-size: 24px;
			letter-spacing: 3.33px;
			line-height: 33px;
			margin-top: 6px;
			margin-bottom: 24px;	
		}
	}
}

.souvenir {
	.title{
		margin-top: 70px;
		margin-bottom: 40px;
		@include breakpoint($device-md-up) {
			margin-top: 70px;
			margin-bottom: 70px;
		}
		@include breakpoint($device-xl-up) {
			margin-top: 112px;
			margin-bottom: 112px;
		}
		@include seperate-image('product-title', 245px, 34px, 327px, 44px, 523px, 66px);
	}
	.list{
		.item{
			.preview {
			}
			.product-intro {
				line-height: 40px;
				vertical-align: center;
			}
		}		
	}
}

.support {
	.title {
		@include seperate-image('support-title', 164px, 55px, 181px, 68px, 282px, 109px);
	}
	.slogo {
		display: inline-block;
		margin: 15px 20px 15px 0;
	}
	.diamond {
		background: url('../images/common/support-a.png');
		background-size: cover;
		width: 336px;
		height: 50px;
		@include transform-origin;
		@include breakpoint($device-xs-only) {
			@include scale(0.4);
		}
		@include breakpoint($device-md-up) {
			@include scale(0.5);
		}
	}
	.platinum {
		background: url('../images/common/support-b.png');
		background-size: cover;
		width: 336px;
		height: 50px;
		@include transform-origin;
		@include breakpoint($device-xs-only) {
			@include scale(0.4);
		}
		@include breakpoint($device-md-up) {
			@include scale(0.5);
		}
	}
	.gold {
		background: url('../images/common/support-c.png');
		background-size: cover;
		width: 274px;
		height: 50px;
		@include transform-origin;
		@include breakpoint($device-xs-only) {
			@include scale(0.4);
		}
		@include breakpoint($device-md-up) {
			@include scale(0.5);
		}
	}
}

footer {
	margin-top: 70px;
	margin-bottom: 60px;
	.sketch{
		text-align: center;
		padding-left: 20px;
		padding-right: 20px;
		padding-top: 20px; 
		@include breakpoint($device-md-up) {
			padding-top: 70px;	

			background: url('../images/common/footer-sketch.png');
			background-size: 694px 301px;
			width: 694px;
			height: 301px;
		}
		.topic {
			@include breakpoint($device-xs-only) {
				display: block;
				margin: 0 auto;
			}
			display: inline-block;
			width: 137px;
			height: 24px;
			vertical-align: sub;
			@include common-image('nctuartfest', 137px, 24px, 137px, 24px, 137px, 24px);
		}
		.date-line {
		    display: inline-block;
		    border-bottom: 1px solid #0C273A;
		    height: 1px;

		    @include breakpoint($device-md-up) {
		    	width: 40px;
			}
			@include breakpoint($device-xl-up) {
				width: 49px;
			}
		    margin: 8px 5px;
		}
		.slogan {
			@include breakpoint($device-xs-only) {
				font-size: 16px;
				line-height: 24px;
				letter-spacing: 2.66px;
			}
			margin-top: 5px;
		}
		.datetime {
			font-size: 14px;
		    line-height: 20px;
		    margin-top: 5px;
		}
		p {
			transform: rotate(-1deg);
		}
	}
	.fb-fan-page{
		margin-top: 50px;
		@include breakpoint($device-md-up) {
			float: left;
			width: 280px;
			margin-left: 5%;
		}
		@include breakpoint($device-xl-up) {
			float: left;
			width: 280px;
			margin-left: 20%;
		}
	}
	.organizer {
		margin-top: 50px;
		@include breakpoint($device-md-up) {
			float: left;
			width: 40%;
			margin-left: 20px;
		}
		@include breakpoint($device-xl-up) {
			float: left;
			width: 30%;
			margin-left: 20px;
		}
	}
	.footer-ai {
		font-family: $font-ai;
		font-size: 24px;
		letter-spacing: 3.33px;
		line-height: 28px;
	}
	
}



// Project Inner Page

.page-title {
	font-family: $font-mix;
	font-weight: 100;
	font-size: 3rem;
	text-align: center;
	line-height: 1.2;
	margin: 4rem;
}

.page-featured-image {
	margin-bottom: 2rem;
}


