
// breakpoint sass
@import '../../node_modules/breakpoint-sass/stylesheets/_breakpoint.scss';
@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
@import url('https://fonts.googleapis.com/css?family=Poiret+One');

$bg-color: #F3F3F4;
$theme-color: #0C273A;

$device-xs-up: 320px;
$device-xs-only: 320px 768px;
$device-md-up: 768px;
$device-md-only: 768px 1200px;
$device-xl-up: 1200px;

$font-ai: 'Poiret One', cursive;
$font-noto: 'Noto Sans TC', sans-serif;
$font-context:  -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

@mixin scale($factor){
	-webkit-transform: scale($factor);
    -moz-transform: scale($factor);
    -ms-transform: scale($factor);
    -o-transform: scale($factor);
    transform: scale($factor);
}

@mixin transform-origin{
	-webkit-transform-origin: 0 0;
	-moz-transform-origin: 0 0;
	-ms-transform-origin: 0 0;
	-o-transform-origin: 0 0;
	transform-origin: 0 0;
}

@mixin responsive-image($image, $xsw, $xsh, $mdw, $mdh, $xlw, $xlh){
	@include breakpoint($device-xs-only){
		@if $xsw or $xsw {
			width: $xsw;
			height: $xsh;
			background-size: $xsw $xsh;
		}
		@else {
			display: none;
		}

	}
	@include breakpoint($device-md-only){
		@if $mdw or $mdw {
			width: $mdw;
			height: $mdh;
			background-size: $mdw $mdh;
		}
		@else {
			display: none;
		}
	}
	@include breakpoint($device-xl-up){
		@if $xlw or $xlw {
			width: $xlw;
			height: $xlh;
			background-size: $xlw $xlh;
		}
		@else {
			display: none;
		}
	}
}

@mixin common-image($image, $xsw, $xsh, $mdw, $mdh, $xlw, $xlh){
	background: url('../images/common/' + $image + '.png');
	@include responsive-image($image, $xsw, $xsh, $mdw, $mdh, $xlw, $xlh);
}

@mixin seperate-image($image, $xsw, $xsh, $mdw, $mdh, $xlw, $xlh) {
	@include breakpoint($device-xs-only){
		background: url('../images/mobile/' + $image + '.png');
	}
	@include breakpoint($device-md-only){
		background: url('../images/tablet/' + $image + '.png');
	}
	@include breakpoint($device-xl-up){
		background: url('../images/desktop/' + $image + '.png');
	}
	@include responsive-image($image, $xsw, $xsh, $mdw, $mdh, $xlw, $xlh);

}



// adjustment
html, body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
	background-color: $bg-color;
	font-family: $font-noto;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 2.66px;
}

// components style

.main-logo{
	@include breakpoint($device-xs-only){
		float: right;
		margin-left: 0px;
		margin-top: 10px;
		margin-right: 10px;	
		@include scale(0.6);
	}
	@include breakpoint($device-md-up){
		float: left;
		margin-left: 50px;
		margin-top: 50px;
	}
}

.header {
	@include breakpoint($device-md-only){ padding-left: 100px; }
	@include breakpoint($device-xl-up){ padding-left: 150px; }
	@include breakpoint($device-md-only){ margin-bottom: 150px;}
	@include breakpoint($device-xl-up){	height: 100vh; }
	.components {
		@include breakpoint($device-md-only){
			margin-left: 100px;
		}
		.light {
			@include common-image('header-light', 29px, 109px, 0px, 0px, 81px, 310px);
		}
		.pipe {
			@include common-image('header-pipe', 176px, 85px, 369px, 177px, 591px, 284px);
		}
	}		
	.info {
		color: $theme-color;
		@include breakpoint($device-xs-only){
			text-align: center;
			width: 300px;
			margin: auto;
		}
		.year {
			font-family: $font-ai;
			line-height: 28px;
			letter-spacing: 1.33;
			font-size: 24px;
		}
		.topic {
			@include common-image('nctuartfest', 190px, 37px, 222px, 44px, 317px, 63px);
		}
		.topic-english {
			font-weight: 200;
			font-family: $font-ai;
			letter-spacing: 2px;
			@include breakpoint($device-md-only){
				font-size: 26px;
			}
			@include breakpoint($device-xl-up){
				font-size: 36px;
			}
			line-height: 42px;
		}
		.date {
			font-family: $font-ai;
			font-size: 24px;
			letter-spacing: 1.33px;
			line-height: 28px;
		}
		.place {
			font-weight: 300;
			font-family: $font-noto;
			font-size: 24px;
			letter-spacing: 7.5px;
			line-height: 36px;
		}
	}
	.sketch {
		@include breakpoint($device-xs-only){
			margin: 50px auto 50px auto;
		}
		@include breakpoint($device-md-only){
			display: inline-block;
		}
		@include breakpoint($device-xl-up){
			display: inline-block;
			margin-top: -100px;
		}
		@include common-image('header-sketch', 267px, 261px, 298px, 291px, 533px, 546px);
	}
}

.topic-sketch {
	@include breakpoint($device-xs-only){
		margin: auto;
	}
	@inlcude breakpoint($device-md-up){
		position: relative;
		display: inline-block;
	}
	@include seperate-image('topic-sketch', 289px, 186px, 142px, 333px, 419px, 556px);
}

.topic{
	@include breakpoint($device-md-only){ padding-left: 100px; }
	@include breakpoint($device-xl-up){ padding-left: 150px; }

	@include breakpoint($device-md-only){
		margin-top: -350px;
	}
	@include breakpoint($device-xl-up){
		margin-top: -400px;
	}

	.topic-english-1{
		color: $theme-color;
		font-weight: 200;
		letter-spacing: 10px;
		text-align: center;
		width: 100%;
	}
	.robot {
		@include breakpoint($device-xl-up){
			margin-top: 200px;
		}
		@include common-image('topic-robot', 58px, 162px, 76px, 212px, 110px, 307px);
	}
	.intro{

		@include breakpoint($device-md-up){ 
			width: 400px; 
		}
		@include breakpoint($device-xl-up){ 
			vertical-align: 50px;
		}
		.topic-english-2{
			font-family: $font-ai;
			margin-bottom: 50px;
			color: $theme-color;
			line-height: 70px;
			font-size: 60px;
			letter-spacing: 11px;

		}
		.intro-content{
			font-size: 20px;
			line-height: 36px;
			letter-spacing: 1.67px;
			color: $theme-color;
		}
		.medium-articles {
			background-color: $theme-color;
			color: white;
			padding: 10px;
			@include breakpoint($device-xs-only){
				width: 180px;
				margin: auto;
			}
		}
	}	

	.title {
		@include common-image('topic-title', 0px, 0px, 137px, 32px, 202px, 47px);
	}
	.products {
		@include breakpoint($device-md-only){
			margin-top: -50px;
			vertical-align: 50px;
		}
		@include common-image('topic-products', 270px, 270px, 186px, 186px, 344px, 344px);
	}
	.topic-widgets-1 {
		vertical-align: top;
		@include breakpoint($device-xs-only){
			text-aign: center;
		}
	}
	.topic-widgets-1-1{
		@include breakpoint($device-xs-only){
			width: 100%;
			text-align: center;
		}
		@include breakpoint($device-md-only){
			width: 270px;
		}
	}
	.topic-widgets-2 {
		width: 345px;
		@include breakpoint($device-md-only){
			vertical-align: 120px;
		}
		@include breakpoint($device-xl-up){
			vertical-align: 200px;
		}
	}
}

.projects {
	.title{
		@include seperate-image('project-title', 279px, 163px, 329px, 154px, 620px, 315px)
	}
	.list {
		.preview {
		}
	}
	.project-title {
		font-size: 24px;
		font-weight: 300;
		line-height: 24px;
		margin-top: 6px;
		margin-bottom: 24px;
	}
}

.souvenir {
	.title{
		@include seperate-image('product-title', 245px, 34px, 327px, 44px, 523px, 66px);
	}
	.list{
		.item{
			.preview {
			}
			.product-intro {
				line-height: 40px;
				vertical-laign: center;
			}
		}		
	}
}

.support {
	.title {
		@include seperate-image
			('support-title', 164px, 55px, 181px, 68px, 282px, 109px);
	}
	.diamond {
		background: url('../images/common/support-a.png');
		background-size: cover;
		width: 336px;
		height: 50px;
		@include transform-origin;
		@include breakpoint($device-xs-only){
			@include scale(0.4);
		}
		@include breakpoint($device-md-up){
			@include scale(0.5);
		}
	}
	.platinum {
		background: url('../images/common/support-b.png');
		background-size: cover;
		width: 336px;
		height: 50px;
		@include transform-origin;
		@include breakpoint($device-xs-only){
			@include scale(0.4);
		}
		@include breakpoint($device-md-up){
			@include scale(0.5);
		}
	}
	.gold {
		background: url('../images/common/support-c.png');
		background-size: cover;
		width: 274px;
		height: 50px;
		@include transform-origin;
		@include breakpoint($device-xs-only){
			@include scale(0.4);
		}
		@include breakpoint($device-md-up){
			@include scale(0.5);
		}
	}
}

footer {
	.sketch{
		text-align: center;
		@include breakpoint($device-md-up){
			background: url('../images/common/footer-sketch.png');
			background-size: 694px 301px;
			width: 694px;
			height: 301px;
		}
	}
	p {
		transform: rotate(-1deg);
	}
	.footer-ai {
		font-family: $font-ai;
		font-size: 24px;
		letter-spacing: 3.33px;
		line-height: 28px;
	}
	.fb-fan-page{
		margin-top: 50px;
	}
}
