@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
@import url("https://fonts.googleapis.com/css?family=Poiret+One");
.clearfix::before,
.clearfix::after {
  flex-basis: 0;
  order: 1; }

* {
  -webkit-overflow-scrolling: touch; }

html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  background-color: #F3F3F4;
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.7;
  letter-spacing: 1.33; }
  @media (min-width: 320px) {
    html, body {
      font-weight: 400;
      font-size: 16px; } }

img {
  max-width: 100%; }

header.fixed-nav {
  position: relative;
  padding: 2rem 0;
  text-align: center; }
  header.fixed-nav nav {
    text-align: center; }
    header.fixed-nav nav .nav-item {
      display: inline-block;
      padding: 0 2.5rem; }
      header.fixed-nav nav .nav-item a {
        font-size: 14px;
        color: #0C273A;
        text-decoration: none; }
        header.fixed-nav nav .nav-item a:hover {
          color: #E37224; }

#topic {
  margin-top: 4rem;
  position: relative; }
  #topic .topic-content .date {
    font-family: "Poiret One", cursive;
    font-size: 16px;
    letter-spacing: 0.8px;
    line-height: 18px; }
    @media (min-width: 1440px) {
      #topic .topic-content .date {
        font-size: 16px;
        letter-spacing: 1.33px; } }
  #topic .topic-content .date-line {
    display: inline-block;
    border-bottom: 1px solid #0C273A;
    height: 1px;
    width: 30px;
    margin: 8px 5px; }
    @media (min-width: 768px) {
      #topic .topic-content .date-line {
        width: 40px; } }
    @media (min-width: 1440px) {
      #topic .topic-content .date-line {
        width: 49px; } }
  #topic .topic-content .place {
    display: block;
    font-weight: 300;
    font-family: "Noto Sans TC", sans-serif;
    font-size: 16px;
    letter-spacing: 5px;
    line-height: 24px; }
    @media (min-width: 1440px) {
      #topic .topic-content .place {
        font-size: 16px;
        letter-spacing: 7.5px; } }
  #topic .topic-content .year {
    font-family: "Poiret One", cursive;
    font-size: 1.25rem;
    margin-bottom: 1rem; }
  #topic .topic-content .topic-tag {
    margin-top: 3rem;
    color: #AA967D; }
  #topic .topic-content .topic {
    width: 233px;
    height: auto; }
  #topic .topic-content .topic-english {
    font-family: "Poiret One", cursive;
    font-size: 1.5rem;
    margin-top: .75rem;
    margin-bottom: 3rem;
    line-height: 21px;
    letter-spacing: 1.5px; }
  #topic .topic-content .topic-slogan {
    margin: 0 auto; }
  #topic .components .h-gear {
    position: absolute;
    left: 5vh;
    top: 20vh;
    z-index: 10;
    width: 116px; }
  #topic .components .h-gear-red {
    position: absolute;
    right: 20vh;
    top: 80vh;
    z-index: 10;
    width: 107px; }
  #topic .components .h-l {
    position: absolute;
    right: 35vh;
    top: 65vh;
    z-index: 10;
    width: 123px; }
  #topic .components .h-line {
    position: absolute;
    left: 5vh;
    top: 40vh;
    z-index: 10;
    width: 44px; }
  #topic .components .h-robot {
    position: absolute;
    left: 30vh;
    top: 70vh;
    z-index: 10;
    width: 95px; }
  #topic .components .h-t {
    position: absolute;
    left: 35vh;
    top: 15vh;
    z-index: 10;
    width: 139px; }
  #topic .components .h-oil {
    position: absolute;
    right: 35vh;
    top: 20vh;
    z-index: 10;
    width: 67px; }
  #topic .topic-background {
    width: 100%;
    object-fit: cover; }

#intro {
  margin-top: 5rem; }
  #intro .intro-img {
    margin: 4rem 0; }
  #intro .intro-title {
    font-family: "Poiret One", cursive;
    font-size: 2rem;
    margin-bottom: 1.5rem; }
  #intro .intro-content {
    color: #AA967D; }
    #intro .intro-content p {
      margin-bottom: 1.5rem; }

#projects {
  margin-top: 5rem; }
  #projects .block-title {
    margin-top: 1rem;
    margin-bottom: 2rem; }
  #projects .project-title {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    font-size: 1.125rem; }
    #projects .project-title a {
      text-decoration: none;
      color: #0A2C42; }
  #projects .project-description {
    font-size: 0.9rem;
    color: #AA967D; }
  #projects .project-info {
    margin-bottom: 3rem;
    font-size: 0.9rem;
    color: #E37224; }
    #projects .project-info .place {
      display: block;
      margin-bottom: 0.5rem; }

footer {
  margin-top: 5rem;
  margin-bottom: 3rem;
  color: #313D42; }
  footer .copyright {
    margin-top: 2rem;
    text-align: center;
    color: #AA967D;
    letter-spacing: 3px; }
  footer a {
    color: #0A2C42;
    text-decoration: none;
    transition: .07s; }
    footer a:hover {
      text-decoration: none;
      color: #E37224; }
  footer .slogo {
    display: inline-block;
    margin: 15px 20px 15px 0; }
  footer .organizer {
    margin: 0;
    padding: 0; }
    footer .organizer li {
      margin: 0;
      padding: 0;
      list-style: none; }

.page-title {
  font-family: "Poiret One", cursive, "Noto Sans TC", sans-serif;
  font-weight: 100;
  font-size: 3rem;
  text-align: center;
  line-height: 1.2;
  margin: 4rem; }

.page-featured-image {
  margin-bottom: 2rem; }

#stories {
  margin-top: 4rem; }
  #stories h1 {
    font-size: 2rem;
    color: #0A2C42;
    margin-bottom: 2rem; }
  #stories h2 {
    text-align: center;
    font-size: 1rem;
    color: #E37224;
    letter-spacing: 3px;
    margin-bottom: 2rem;
    margin-top: 3rem; }

#go .date {
  font-family: "Poiret One", cursive;
  color: #0A2C42;
  font-size: 1.5rem;
  letter-spacing: 2px;
  margin-bottom: .5rem; }
#go .go-title {
  color: #E37224;
  margin-bottom: 1.5rem; }
#go .hashtags {
  font-size: 0.75rem;
  letter-spacing: 4px;
  color: #AA967D; }
#go .slogan {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  letter-spacing: 2px; }
#go .space {
  padding: 1rem 0;
  margin: .5rem 0 .5rem 0; }
#go .img-note {
  font-size: 0.75rem;
  color: #AA967D;
  letter-spacing: 2px; }
#go #go-movie-forum .block-title {
  margin-top: .5rem; }
#go #go-movie-forum .forum-context {
  font-size: 0.9rem; }
#go .block-title {
  font-size: 1.5rem;
  margin: 1rem 0 0.5rem 0; }
  #go .block-title.green {
    color: #7FA0A6; }
#go .sub-title {
  font-size: 0.9rem;
  margin-bottom: 1rem; }
  #go .sub-title.green {
    color: #7FA0A6; }
#go .item-title {
  font-size: 1rem;
  margin-top: .5rem;
  margin-bottom: 1rem; }
#go .sub-description {
  font-size: 0.825rem;
  line-height: 1.2;
  letter-spacing: 2px;
  color: #AA967D; }
#go .info-name {
  font-size: 0.875rem;
  color: #0A2C42;
  letter-spacing: 3px;
  margin: 1rem 0; }
  #go .info-name.brown {
    color: #AA967D; }
  #go .info-name.green {
    color: #7FA0A6; }
#go #go-realpart-title {
  margin-top: .5rem; }
#go #go-realpart-info .info {
  margin-bottom: 1.5rem; }
#go #bar-bear-campaign {
  padding: 2rem;
  border: 2px solid #E37224; }
#go .bar-bear-kirin {
  width: 100px;
  height: auto;
  display: inline-block;
  padding-right: 15px; }
#go .bar-bear-steps {
  margin-top: 1.5rem;
  color: #0A2C42; }
#go .bar-bear-nctuartfest {
  width: 150px;
  height: auto; }
#go #live-movie {
  position: relative;
  height: 400px; }
  #go #live-movie .movie-bg {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 5;
    background: url("../images/live-4.png");
    width: 100%;
    height: 400px; }
  #go #live-movie .movie-inner {
    position: relative;
    z-index: 10;
    color: #F3F3F4;
    padding: 2rem; }
  #go #live-movie .info {
    margin-top: 2rem;
    margin-bottom: 1.5rem; }
  #go #live-movie .sub-description {
    position: absolute;
    padding: 3rem 2rem;
    right: 0;
    top: 0;
    width: 550px;
    text-align: right; }
#go #go-movie .info {
  font-size: 0.9rem; }
#go #go-goods .block-title {
  margin-top: 1rem;
  margin-bottom: 2rem; }
#go .goods-info {
  margin-top: .5rem;
  margin-bottom: 1.5rem; }
  #go .goods-info .goods-price {
    color: #7FA0A6;
    font-size: 0.875rem; }
  #go .goods-info .goods-name {
    color: #0A2C42;
    font-size: 0.875rem; }
#go .preorder {
  margin: 1.5rem 0; }
  #go .preorder .preorder-button {
    float: left;
    background: #DC7376;
    padding: .5rem 1.25rem;
    font-weight: 700;
    letter-spacing: 5px;
    border-radius: .25rem;
    color: #F3F3F4;
    transition: 0.07s; }
    #go .preorder .preorder-button:hover {
      background: #e69c9e;
      text-decoration: none; }
  #go .preorder .preorder-info {
    margin-left: 1.5rem;
    line-height: 1.4rem;
    float: left; }
#go .place {
  display: inline-block;
  color: #E37224; }
  #go .place.block {
    display: block;
    margin-top: .5rem;
    margin-bottom: 1rem; }
  #go .place i {
    margin-right: 0.25rem; }

/*# sourceMappingURL=app.css.map */
